---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <url>
    <loc>{{ site.url }}/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/" />
    <xhtml:link rel="alternate" hreflang="mr" href="{{ site.url }}/mr/" />
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}/" />
  </url>
{%- for item in nav.items %}
  <url>
    <loc>{{ site.url }}/en/{{ item.slug }}</loc>
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/{{ item.slug }}" />
    <xhtml:link rel="alternate" hreflang="mr" href="{{ site.url }}/mr/{{ item.slug }}" />
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}/" />
  </url>
  <url>
    <loc>{{ site.url }}/mr/{{ item.slug }}</loc>
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/{{ item.slug }}" />
    <xhtml:link rel="alternate" hreflang="mr" href="{{ site.url }}/mr/{{ item.slug }}" />
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}/" />
  </url>
{%- endfor %}
</urlset>
